body {
    font-family: Arial, sans-serif;
    background-color: #000b29;
    color: #ffffff;
    margin: 0;
    line-height: 1.6;
}
header {
    background-image: url("space.JPG");
    background-size:cover;
    background-position: center;
    color: #ffffff;
    padding: 20px 10px;
    text-align: center;
}
nav ul {
    text-align: center;
        color: #ffffff;
}
main {
    padding: 20px;
    text-align: center;
}
#style{
    background-color: #16213e; 
}
.content {
    background-color: #1d2e5e;
    padding: 20px;
    margin: 20px 0;
}
.content {
    color: #3498db;
}
